@model OfficePS.ViewModels.ClienteVM



<h2>Clientes</h2>

<h4>Incluir um novo Cliente</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create" method="post" enctype="multipart/form-data" asp-controller="Home" asp-antiforgery="true" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label col-md-2">Nome</label>
                <div class="col-md-10">
                    <input asp-for="Nome" maxlength="100" required class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">E-mail</label>
                <div class="col-md-10">
                    <input asp-for="Email" required class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">CPF</label>
                <div class="col-md-2">
                    <input asp-for="Cpf" maxlength="11" required class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">RG</label>
                <div class="col-md-2">
                    <input asp-for="Rg" class="form-control" />
                    <span asp-validation-for="Rg" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Telefone Fixo</label>
                <div class="col-md-2">
                    <input class="form-control" asp-for="Telefone" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Telefone Celular</label>
                <div class="col-md-2">
                    <input asp-for="TelefoneCelular" class="form-control" />
                    <span asp-validation-for="TelefoneCelular" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Data de Nascimento</label>
                <div class="col-md-2">
                    <input asp-for="DtNascimento" class="form-control" />
                    <span asp-validation-for="DtNascimento" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Data de Cadastro</label>
                <div class="col-md-2">
                    <input asp-for="DtCadastro" class="form-control" />
                    <span asp-validation-for="DtCadastro" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Ativo:</label>
                <div class="col-md-2">
                    <input type="checkbox" class="checkbox" asp-for="Ativo" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Foto de perfil:</label>
                <div class="col-md-2">
                    <input type="file" multiple name="files" />
                </div>
            </div>
            @*<div class="form-group">
            <label class="control-label col-md-2">Sexo:</label>
            <div class="col-md-2">
                <select name="Sexo" asp-for="@Model.Sexo" asp-items="(List<SelectListItem>)@ViewData["Itens"]" class="dropdown"></select>
            </div>
        </div>*@

            <div class="form-group">
                <label class="control-label col-md-2">Sexo:</label>
                <div class="col-md-2">
                    <select name="Sexo" asp-for="@Model.Sexo" class="form-control">
                        <option value="" class="dropdown">Selecione...</option>
                        <option value="M" class="dropdown">Masculino</option>
                        <option value="F" class="dropdown">Feminino</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <input type="submit" value="Incluir" class="btn btn-default btn-primary form-control" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

